body {
  background-color: lightblue;
}

.chat {
  padding: 0.5em;
  font-family: Tahoma, Geneva, sans-serif;
}
.user {
	color:blue;
}
.agent {
	color:black;
}
.agent.dialogue {
	text-align: right;
  padding-right: 2em;
}

.removable {
	display: none;
}

.conversation {
  margin: 4em 0em;
}